{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "src/**/*.ts",
      "options": {
        "semi": true,
        "singleQuote": true,
        "trailingComma": "all",
        "tabWidth": 2
      }
    }
  ]
}
