<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="../vendors/Bootstrap/css/bootstrap-grid.min.css"
    />
    <link rel="stylesheet" href="../styles/pages/homepage/homepage.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">col-6</div>
        <div class="col-12 col-md-6">col-6</div>
      </div>
    </div>

    <script type="module" src="../scripts/pages/homepage/index.js"></script>
  </body>
</html>
