<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/base/base-style.css" />
    <link
      rel="stylesheet"
      href="../vendors/Bootstrap/css/bootstrap-grid.min.css"
    />
    <link rel="stylesheet" href="../styles/pages/homepage/homepage.css" />
    <link
      rel="stylesheet"
      preload
      href="../vendors/swiper/css/swiper-bundle.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">col-6</div>
        <div class="col-12 col-md-6">col-6</div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
              <div class="swiper-slide">Slide 6</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
              <div class="swiper-slide">Slide 6</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      async
      src="../scripts/pages/homepage/index.js"
    ></script>
    <script
      type="module"
      async
      src="../scripts/common/slider-generator/index.js"
    ></script>
  </body>
</html>
